body {
  background-color: #4ce7ea;
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  max-width: 400px;
  margin:  auto;
}

.img_home {
  border-radius: 10%;
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: auto;
}

.img_responsive {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  text-align: center;
}

/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  .div_label {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.login {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 350px;
  flex-direction: column;
  gap: 35px;
  margin: auto;
  height: 300px;
  background: #e3e3e3;
  border-radius: 8px;
  
}

.inputBox {
  position: relative;
  width: 250px;
  
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
  box-sizing: border-box;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #4ce7ea;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.enter:hover {
  background-color: #4ce7ea;
  color: #000;
}