/* actualizar_residente.css */

body {
    background-color: #4ce7ea;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  h2{
    text-align: center;
  }
  
  .contenedor {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .img_admin_home {
    margin: 15px;
    max-width: 100%;
    border-radius: 10%;
  }
  
  .div_minuta {
    margin-top: 20px;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  .admin {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  listado_usuarios {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  form {
    border-radius: 6%;
    max-width: 280px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    display: block;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    form {
      grid-template-columns: 1fr;
    }
  }
  